<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Agregar Laboratorista</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="">Inicio</a></li>
          <li class="breadcrumb-item active">Agregar Laboratorista</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Formulario de Ingreso de Laboratoristas</h3>
      </div>
      <div class="card-body">
        <div class="box box-warning">

          <!-- /.box-header -->
          <div class="box-body">
            <form #form1="ngForm" novalidate>
              <!-- text input -->
              <div class="form-group">
                <label>Rut</label>
                <input type="text" (keyup)="validaFormulario(form1, 'rut')" class="form-control" placeholder="Ingresar Rut" name="rut" #rut="ngModel"
                  [(ngModel)]="labo.rut">
              </div>

              <div class="form-group">
                <label>Nombre</label>
                <input type="text" (keyup)="validaFormulario(form1, 'nombre')" class="form-control" placeholder="Ingresar Nombre" name="nombre" #nombre="ngModel"
                  [(ngModel)]="labo.nombre">
              </div>

              <div class="form-group">
                <label>Apellido</label>
                <input type="text" (keyup)="validaFormulario(form1, 'apellido')" class="form-control" placeholder="Ingresar Apellido" name="apellido"
                  #apellido="ngModel" [(ngModel)]="labo.apellido">
              </div>

              <div class="form-group">
                <label>Telefono</label>
                <input type="phone" (keyup)="validaFormulario(form1, 'telefono')" class="form-control" placeholder="Ingresar Telefono" name="telefono"
                  #telefono="ngModel" [(ngModel)]="labo.telefono">
              </div>

              <div class="form-group">
                <label>Email</label>
                <input type="email" (keyup)="validaFormulario(form1, 'email')" class="form-control" placeholder="Ingresar Email Ej: o@o.cl" name="email"
                  #email="ngModel" [(ngModel)]="labo.email">
              </div>
              <div class="form-group">
                <button type="button" [routerLink]="['/laboratoristas/todos']" class="btn btn-danger">
                  Cancelar
                </button>
                <button type="button" (click)="agregar(form1)" class="{{ this.classBoton }} float-right">
                  Guardar
                </button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.card-body -->
      <!-- /.card-footer-->
    </div>
  </div>
  <!-- /.card -->
</section>
